@charset "utf-8";

@font-face {
	font-family: 'Poppins';
	font-style: normal;
	font-weight: 400;
	src: url('font/Poppins-Regular.eot');
	src: url('font/Poppins-Regular.eot?#iefix') format('embedded-opentype'),
	url('font/Poppins-Regular.woff2') format('x-woff2'),
	url('font/Poppins-Regular.woff') format('woff'),
	url('font/Poppins-Regular.ttf') format('truetype');
}

@font-face {
	font-family: 'Poppins';
	font-style: normal;
	font-weight: 600;
	src: url('font/Poppins-Medium.eot');
	src: url('font/Poppins-Medium.eot?#iefix') format('embedded-opentype'),
	url('font/Poppins-Medium.woff2') format('x-woff2'),
	url('font/Poppins-Medium.woff') format('woff'),
	url('font/Poppins-Medium.ttf') format('truetype');
}

@font-face {
	font-family: 'Poppins';
	font-style: normal;
	font-weight: 200;
	src: url('font/Poppins-Light.eot');
	src: url('font/Poppins-Light.eot?#iefix') format('embedded-opentype'),
	url('font/Poppins-Light.woff2') format('x-woff2'),
	url('font/Poppins-Light.woff') format('woff'),
	url('font/Poppins-Light.ttf') format('truetype');
}

@font-face {
	font-family: 'NanumSquare_ac';
	font-style: normal;
	font-weight: 400;
	src: url('font/NanumSquare_acR.eot');
	src: url('font/NanumSquare_acR.eot?#iefix') format('embedded-opentype'),
	url('font/NanumSquare_acR.woff2') format('x-woff2'),
	url('font/NanumSquare_acR.woff') format('woff'),
	url('font/NanumSquare_acR.ttf') format('truetype');
}

@font-face {
	font-family: 'NanumSquare_ac';
	font-style: normal;
	font-weight: 600;
	src: url('font/NanumSquare_acB.eot');
	src: url('font/NanumSquare_acB.eot?#iefix') format('embedded-opentype'),
	url('font/NanumSquare_acB.woff2') format('x-woff2'),
	url('font/NanumSquare_acB.woff') format('woff'),
	url('font/NanumSquare_acB.ttf') format('truetype');
}

@font-face {
	font-family: 'NanumSquare_ac';
	font-style: normal;
	font-weight: 800;
	src: url('font/NanumSquare_acEB.eot');
	src: url('font/NanumSquare_acEB.eot?#iefix') format('embedded-opentype'),
	url('font/NanumSquare_acEB.woff2') format('x-woff2'),
	url('font/NanumSquare_acEB.woff') format('woff'),
	url('font/NanumSquare_acEB.ttf') format('truetype');
}

/* reset */
* {margin: 0; padding: 0; box-sizing: border-box;}
html {-webkit-text-size-adjust: 100%; -webkit-tap-highlight-color: rgba(0,0,0,0);}
html, body {width: 100%; height: 100%; font-size: 10px; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: antialiased; font-smooth: antialiased;}
body {font-family:'Poppins', 'NanumSquare_ac', 'droid sans fallback', 'Helvetica','Apple SD Gothic Neo', sans-serif; color: #222; font-weight: 400; line-height: 1;}
html, body, div, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, acronym, address, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, article, aside, hgroup, header, footer, figure, figcaption, nav, section {padding: 0; margin: 0; box-sizing: border-box; background: transparent;}
h1, h2, h3, h4, h5, h6 {font-weight: 700;}
ol, ul, li {list-style: none;}
label {vertical-align: middle; cursor: pointer;}
a {text-decoration: none; cursor: pointer; vertical-align: baseline; color: #222; font-weight: 400;}
a:hover {text-decoration: none; outline: none;}
blockquote, q {quotes: none;}
blockquote:before, blockquote:after,q:before, q:after {content:'';}
table {border-collapse: collapse;}
table, th, td {border-spacing: 0;}
address, i, em {font-style: normal;}
legend, hr {display: none;}
caption {visibility: hidden; width: 0; height: 0; font-size: 0; line-height: 0;}
img, fieldset {border:0;}
img {max-width: 100%; border: 0; vertical-align: top;}
button, input, optgroup, select, textarea {font: inherit; color: inherit;}
button {overflow: visible; cursor: pointer; line-height: 1; border: 0; background: transparent;}
textarea {resize: vertical; font: inherit; overflow-y: auto;}
input, select, optgroup {vertical-align: middle; line-height: normal;}
input, textarea, select {border-radius: 0; box-shadow: none;}
button, select {text-transform: none;}
select {-webkit-appearance: none;}
select::-ms-expand {display: none;}
a, button, input, img {outline: none;}
button, input[type=button], input[type=reset], input[type=submit] {margin: 0; padding: 0; -webkit-appearance: button; cursor: pointer; background: none;}
button:disabled, input[type=button]:disabled, input[type=reset]:disabled, input[type=submit]:disabled {cursor: default;}
button::-moz-focus-inner, input::-moz-focus-inner {border: 0; padding: 0;}
button:active, button:active > * {-ms-transform:translate(-1px, -1px);}
button:active:before, button:active:after {-ms-transform:translate(1px, 1px);}
input[type="number"]::-webkit-outer-spin-button, input[type="number"]::-webkit-inner-spin-button {-webkit-appearance: none; margin: 0; height: auto;}
input[type="search"] {-webkit-appearance: textfield;}
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {-webkit-appearance: none;}

::-webkit-input-placeholder {color: #aaa !important;}
::-moz-placeholder {color: #aaa !important;}
:-ms-input-placeholder {color: #aaa !important;}
:-moz-placeholder {color: #aaa !important;}

/* skipNavi */
#skipnav {display: block; position: absolute;  top: -9999px; left: 0; right: 0; width: 100%; line-height: 45px; text-align: center; background: #111; font-size: .875rem; color: #fff;}
#skipnav:focus, #skipnav:active {top: 0;}

/* common */
.sr_only {position: absolute; top: 0; left: 0; overflow: hidden; width: 0; height: 0; font-size: 0; line-height: 0; text-indent: -9999px;}

.lg_visible {display: block !important;}
.sm_visible {display: none !important;}

.thumb_pc {display: block !important;}
.thumb_mo {display: none !important;}

.col1 > * {width: 100%;}
.col2 > * {width: 50%;}
.col3 > * {width: calc(100% / 3);}
.col4 > * {width: 25%;}
.col5 > * {width: 20%;}

.text_center {text-align: center !important;}
.text_left {text-align: left !important;}
.text_right {text-align: right !important;}
.text_bold {font-weight: 700 !important;}

.ver_baseline {vertical-align: baseline !important;}
.ver_middle {vertical-align: middle !important;}
.ver_top {vertical-align: top !important;}
.ver_texttop {vertical-align: text-top !important;}
.ver_textbottom {vertical-align: text-bottom !important;}
.ver_0 {vertical-align: 0 !important;}

.clearfix:after {content: ""; display: table; clear: both;}
.fl{float: left !important;}
.fl{float: right !important;}
.fn{float: none !important;}

#wrap {position: relative; width: 100%; margin: 0 auto; background: #fff;}
.inner {position: relative; width: 100%; max-width: 1280px; margin: 0 auto;}

#header_wrap {position: absolute; left: 0; right: 0; top: 0; height: 17.1rem; background: transparent; z-index: 2;}
#header_wrap .inner {height: 100%;}
#header_wrap .hlogo {position: absolute; left: 0; top: 2.5rem; width: 21.5rem; z-index: 10;}
#header_wrap .hlogo a {display: block; width: 100%; padding-top:45.581%; background: url(../images/h_logo.png) no-repeat center top; background-size: 100%;}

.gnb_wrap {padding-left: 27.8%; padding-top: 8.5rem;}
.gnb_wrap .btn_open_menu {display: none;}
.gnb_wrap .gnb ul:after {content: ""; display: table; clear: both;}
.gnb_wrap .gnb li {float: left; margin: 0 .5rem;}
.gnb_wrap .gnb a {display: block; padding: 2rem 1.5rem; font-size: 1.8rem; font-weight: 600; opacity: .5; transition: opacity .3s ease-in-out;}
.gnb_wrap .gnb a:hover, 
.gnb_wrap .gnb li.on a {opacity: 1;}
.main .gnb_wrap .gnb a {color: #fefefe; opacity: 1;}
.main .gnb_wrap .gnb a:hover, 
.main .gnb_wrap .gnb li.on a {opacity: .5;}

#header_wrap .select_lang {position: absolute; right: 0; top: 9rem;}
#header_wrap .select_lang .btn_select {display: inline-block; min-width: 7rem; padding: 1.2rem; font-size: 1.8rem; text-align: left;}
#header_wrap .select_lang .btn_select span {display: block; position: relative; padding-right: 1.5rem;}
#header_wrap .select_lang .btn_select span:after {content: ""; display: block; position: absolute; right: 0; top: calc(50% - (.4rem / 2)); border-top: .4rem solid #2d2a3d; border-left: .4rem  solid transparent; border-right: .4rem  solid transparent; transition: transform .3s ease-in-out;}
#header_wrap .select_lang .btn_select.on span:after {transform: rotate(-180deg);}
#header_wrap .select_lang .select_list {display: none; position: absolute; left: 0; right: 0; top: 100%; margin-top: -.5rem; padding: .8rem 0; border: 1px solid #222; background: #fff; z-index: 3;}
#header_wrap .select_lang .select_list button {display: block; width: 100%; padding: 0 1rem; font-size: 1.4rem; text-align: left; line-height: 2;}
#header_wrap .select_lang .select_list .on button {font-weight: 600; background: #f1f1f1;}
#header_wrap .select_lang .select_list button:hover {background: #f1f1f1;}
.main #header_wrap .select_lang .btn_select span {color: #fff;}
.main #header_wrap .select_lang .btn_select span:after {border-top-color: #fff;}

#footer_wrap {padding: 15rem 0; background: #f1f1f1;}
#footer_wrap .f_cont {padding-left: 52.8%;}
#footer_wrap .menu {padding-top: .7rem; margin-bottom: 15.2rem; font-size: 0;}
#footer_wrap .menu li {display: inline-block;}
#footer_wrap .menu li + li {margin-left: 10rem;}
#footer_wrap .menu strong {display: block; margin-bottom: 3rem; font-size: 3.4rem; font-weight: 600;}
#footer_wrap .menu strong small {display: block; margin-bottom: 1.5rem; font-size: 1.5rem; font-weight: 800;}
#footer_wrap .menu p, #footer_wrap .menu a {display: block; font-size: 1.4rem;}
#footer_wrap .menu p, #footer_wrap .menu a.email {font-weight: 200;}
#footer_wrap .menu a:hover {opacity:.5;}
#footer_wrap .corp_info {font-size: 1.5rem; line-height: 2;}
#footer_wrap .corp_info .copyright {margin-top: 1.5rem; font-size: 1.4rem; font-weight: 200;}
.main #footer_wrap {background: #000;}
.main #footer_wrap .f_cont {color: #fff;}
.main #footer_wrap .menu p, .main #footer_wrap .menu a {color: #f6f6f4; opacity: .63;}
.main #footer_wrap .corp_info {color: #fff; opacity: .63;}

#footer_wrap .f_logo {position: absolute; left: 0; top: 0; width: 23.8rem;}
#footer_wrap .f_logo span {display: block; width: 100%; padding-bottom: 45.378%; font-size: 0; text-indent: -9999px; background: url(../images/f_logo.png) no-repeat center top; background-size: 100%;}
.main #footer_wrap .f_logo span {background-image: url(../images/f_logo_wht.png);}

#content_wrap {padding: 17.1rem 0 16rem;}
.main #content_wrap {padding: 0;}


/* contents */
[class*=section_] {width: 100%; margin: 0 auto; padding-top: 11.7rem;}
[class*=section_] .cont_box:after {content: ""; display: table; clear: both;}
[class*=section_] .cont_box .title {display:block; color: #000; font-weight: 600; font-size: 5.6rem;}
[class*=section_] .cont_box .txt_box {font-size: 1.8rem; color: #999; line-height: 3.2rem; word-break: keep-all; font-weight: 600; letter-spacing: -.12rem;}
[class*=section_] .cont_box .txt_box p + p {margin-top: 3.2rem;}
[class*=section_] .cont_box .noti_box {position: relative; margin-top: 4rem; padding-top: 2.7rem;}
[class*=section_] .cont_box .noti_box:before {content: ""; display: block; position: absolute; left: 0; top: 0; width: 3.7rem; height: .2rem; background: #000;}
[class*=section_] .cont_box .img_box {display: block; float: right;}
[class*=section_] .cont_box.left .img_box {float: right;}
[class*=section_] .cont_box.left .cont {float: left;}
[class*=section_] .cont_box.right .img_box {float: left;}
[class*=section_] .cont_box.right .cont {float: right;}

/* key visual */
.kv_wrap {position: relative; overflow: hidden; width: 100%; height: 52.7rem; /* padding-bottom: 27.69%; */}
.kv_wrap .kv_bg {position: absolute; left: 50%; top: 50%; transform: translate(-50%, -50%) scale(1); width: 100%; height: 100%; background-repeat: no-repeat; background-position: top center; background-size: cover; animation: bgScale 5s ease-in-out 1; animation-fill-mode : both;}
.kv_wrap .kv_text {position: absolute; bottom: 10.2rem; transform: translateY(3rem); width: 100%; padding: 0 2rem; font-size: 3.2rem; color: #fff; font-weight: 600; line-height: 1.5625; text-align: center; opacity: 0; visibility: hidden; animation: txtAni 1s ease-in-out .7s 1; animation-fill-mode : both;}
.kv_wrap .kv_text .txt {display: inline-block; text-align: left; word-break: keep-all;}
.kv_wrap .kv_products .kv_bg {background-image: url(../images/kv_prod_intro.jpg);}
.kv_wrap .kv_company .kv_bg {background-image: url(../images/kv_company.jpg);}
.kv_products .kv_text .txt {max-width: 105.2rem;}
.kv_company .kv_text .txt {max-width: 86rem;}

@keyframes bgScale {
	0% {
		transform: translate(-50%, -50%) scale(1);
	}
	100% {
		transform: translate(-50%, -50%) scale(1.1);
	}
}

@keyframes txtAni {
	0% {
		opacity: 0;
		visibility: hidden;
		transform: translateY(5rem);
	}
	100% {
		opacity: 1;
		visibility: visible;
		transform: translateY(0);
	}
}

/* 제품소개 */
.section_prod_intro .cont_box {max-width: 101rem; margin: 0 auto;}
.section_prod_intro .cont_box + .cont_box {margin-top:16rem;}
.section_prod_intro .cont_box .title {margin-bottom:6.4rem; font-size: 4.5rem;}
.section_prod_intro .cont_box .title .lg {font-size: 5.6rem;}
.section_prod_intro .cont_box .title > span {display: inline-block; vertical-align: text-bottom;}
.section_prod_intro .cont_box .noti_box strong {display: block; font-size: 2rem; line-height: 3.5rem; color: #000; font-weight: 800;}
.section_prod_intro .cont_box .noti_box span {display: block; font-size: 1.8rem; line-height: 3.4rem; color: #999; font-weight: 600;}
.section_prod_intro .cont_box .img_box {padding-top: 6rem;}
/* .section_prod_intro .cont_box.right .img_box {padding-left: 6rem;} */

.section_prod_intro .cont_box:first-child .img_box {width: 39.1rem;}
.section_prod_intro .cont_box:nth-child(2) .img_box {width: 39rem;}
.section_prod_intro .cont_box:nth-child(3) .img_box {width: 41.4rem;}
.section_prod_intro .cont_box .img_box img {width: 100%;}
.section_prod_intro .cont_box:first-child .cont {max-width: 44rem; width: calc(100% - 39.1rem);}
.section_prod_intro .cont_box:nth-child(2) .cont {max-width: 44rem; width: calc(100% - 39rem);}
.section_prod_intro .cont_box:nth-child(3) .cont {max-width: 44rem; width: calc(100% - 41.4rem);}
.section_prod_intro .cont_box.left .cont {padding-right: 2rem;}
.section_prod_intro .cont_box.right .cont {padding-left: 2rem;}


/* 회사소개 */
.section_company .cont_box {max-width: 106.8rem; margin: 0 auto;}
.section_company .cont_box + .cont_box {margin-top: 14rem;}
.section_company .cont_box.right .title {margin-bottom: 5rem;}
.section_company .cont_box .img_box {padding-top: 7rem;}
.section_company .cont_box.ci {max-width: 100%;}
.section_company .cont_box.ci .cont {max-width: 106.8rem; margin: 0 auto;}
.section_company .cont_box.ci .title {margin-bottom: 3.4rem;}
.section_company .cont_box.ci .txt_box {margin-bottom: 2.6rem;}
.section_company .cont_box.ci .img_box {width: 100%; padding: 0; text-align: center; background: #000;}
.section_company .cont_box.left .title {margin-bottom: 5.4rem;}
.section_company .cont_box .noti_box p {font-size: 1.6rem; color: #000; font-weight: 600; line-height: 2.8rem;}
.section_company .cont_box .noti_box strong {padding-right:.2rem; font-weight: 800;}
.section_company .cont_box .btn_more {display: inline-block; position: relative; margin-top: 5rem; font-size: 1.8rem; color: #000; font-weight: 600; line-height: 3rem;}
.section_company .cont_box .btn_more:after {content: ""; display: block; position: absolute; left: 0; bottom: 0; right: 0; height: .2rem; background: #000;}

.section_company .cont_box.right .img_box {width: 41.6rem;}
.section_company .cont_box.left .img_box {width: 50rem;}
.section_company .cont_box.right .cont {max-width: 52rem; width: calc(100% - 41.6rem); padding-right: 11rem; padding-left: 2rem;}
.section_company .cont_box.left .cont {max-width: 43rem; width: calc(100% - 50rem); padding-right: 2rem;}

.section_company .cont_box.crew {margin-top: 14rem; text-align: center;}
.section_company .cont_box.crew .title {margin-bottom: 7rem;}
.section_company .cont_box.crew .txt_box {margin-bottom: 8rem; font-size: 3.2rem; line-height: 5.5rem; color: #000;}
.section_company .cont_box.crew .crew_list {font-size: 0;}
.section_company .cont_box.crew .crew_list li {display: inline-block; width: calc(33.3% - (8rem / 3)); padding: 0 2.4rem; font-family: 'NanumSquare_ac', sans-serif; vertical-align: top;}
.section_company .cont_box.crew .crew_list li + li {margin-left: 4rem;}
.section_company .cont_box.crew .crew_list .thumb {display: block; overflow: hidden; width: 27.1rem; height: 27.1rem; margin: 0 auto 2.5rem; border-radius: 100%; background: #f4f2ef;}
.section_company .cont_box.crew .crew_list .info_box {margin: 0 -2.4rem;}
.section_company .cont_box.crew .crew_list .name {display: block; margin-bottom: 1.5rem; font-size: 2.8rem; font-weight: 800; color: #000;}
.section_company .cont_box.crew .crew_list .name span {margin-left: 2rem;}
.section_company .cont_box.crew .crew_list .duty {display: block; margin-bottom: 3rem; font-size: 2.2rem; font-weight: 600; color: #444;}
.section_company .cont_box.crew .crew_list .info {display: block; font-size: 1.6rem; font-weight: 600; color: #999; line-height: 3rem;}


/* main */
.main_kv_wrap {position: relative;}
.main_kv_wrap .kv_items .item {position: relative; overflow: hidden; width: 100%; height: 78.3rem; /* padding-bottom: 41.14%; */}
.main_kv_wrap .kv_items .kv_bg {position: absolute; left: 50%; top: 50%; transform: translate(-50%, -50%) scale(1); width: 100%; height: 100%; background-repeat: no-repeat; background-position: top center; background-size: cover;}
.main_kv_wrap .kv_text {position: absolute; bottom: 25rem; transform: translateY(3rem); width: 100%; padding: 0 3rem; font-size: 3.2rem; color: #fff; font-weight: 600; line-height: 1.5625; text-align: center; opacity: 0; visibility: hidden;}
.main_kv_wrap .kv_text .txt {display: inline-block; max-width: 77rem; text-align: left; word-break: keep-all;}
.main_kv_wrap .kv_items .slick-slide:first-child .kv_bg {background-image: url(../images/main_kv_01.jpg);}
.main_kv_wrap .kv_items .slick-slide:nth-child(2) .kv_bg {background-image: url(../images/main_kv_02.jpg);}
.main_kv_wrap .kv_items .slick-slide:nth-child(3) .kv_bg {background-image: url(../images/main_kv_03.jpg);}
.main_kv_wrap .kv_items .slick-active .kv_bg {animation: bgScale 5s ease-in-out 1; animation-fill-mode : both;}
.main_kv_wrap .slick-slide {font-size: 0;}
.main_kv_wrap .slick-active .kv_text {animation: txtAni .7s ease-in-out 1.2s 1; animation-fill-mode : both;}
.main_kv_wrap .slick-dots {position: absolute; left: 0; right: 0; bottom: 7rem; text-align: center; font-size: 0;}
.main_kv_wrap .slick-dots li {display: inline-block;}
.main_kv_wrap .slick-dots li + li {margin-left: 1.1rem;}
.main_kv_wrap .slick-dots li button {overflow: hidden; width: 1rem; height: 1rem; border-radius: 100%; font-size: 0; text-indent: -9999px; background: rgba(255,255,255,.28);}
.main_kv_wrap .slick-dots li.slick-active button {background: rgba(255,255,255,1);}

[class*=main_sec_] .main_tit {margin-bottom: 4.3rem; font-size: 3.6rem; font-weight: 600; color: #e8320e;}
[class*=main_sec_] .list_items:after {content: ""; display: table; clear: both;}
[class*=main_sec_] li {float: left;}
[class*=main_sec_] .thumb {display: block; position: relative; overflow: hidden; width: 100%; }
[class*=main_sec_] .thumb img {position: absolute; left: 50%; top: 50%; transform: translate(-50%,-50%); transform: translate(calc(-50% - .5px), calc(-50% - .5px)); height: 100%; max-width: none; max-height: 100%;}
[class*=main_sec_] .cont strong {display: block; font-weight: 600;}

.main_sec_intro {padding: 12rem 0 9rem;}
.main_sec_intro .inner {overflow: hidden;}
.main_sec_intro ul {margin: 0 -3.5rem;}
.main_sec_intro li {padding: 0 3.5rem;}
.main_sec_intro .thumb {margin-bottom: 3rem; padding-bottom: 73.42%;}
.main_sec_intro .cont strong {margin-bottom: 1.5rem; font-size: 2.2rem;}
.main_sec_intro .cont p {display: block; font-size: 1.6rem; color: #999; line-height: 2.6rem;}

.main_sec_prods {overflow: hidden; background: #ededed;}
.main_sec_prods .inner {height: 48.6rem; padding: 10rem 0 0;}
.main_sec_prods .main_tit {position: absolute; left: 0; top: 6.5rem;}
.main_sec_prods .img {position: absolute; left: 20.3%; width: 30.6rem;}
.main_sec_prods .cont_txt {padding-left: 48.75%;}
.main_sec_prods .cont_txt .txt {max-width: 51rem; font-size: 2rem; font-weight: 600; line-height: 3.2rem;}
.main_sec_prods .cont_txt .btn_red {display: inline-block; margin-top: 4.5rem; padding: 2.2rem 4.6rem; font-size: 1.3rem; color: #fff; font-weight: 600; border-radius: .5rem; background: #e8320e;}

.main_sec_blog {padding: 16.5rem 0 16rem;}
.main_sec_blog .inner {overflow: hidden;}
.main_sec_blog .sort {position: absolute; right: 0; top: 1.2rem; font-size: 0;}
.main_sec_blog .sort a {display: inline-block; color: #343434; font-weight: 200; font-size: 1.6rem;}
.main_sec_blog .sort a.on {font-weight: 800;}
.main_sec_blog .sort a + a {position: relative; margin-left: 1.1rem; padding-left: 1.3rem;}
.main_sec_blog .sort a + a:before {content: ""; display: block; position: absolute; left: 0; top: calc(50% - 1px); width: 2px; height: 2px; background: #000;}
.main_sec_blog ul {margin: -6rem -3.5rem 0;}
.main_sec_blog li {padding: 6rem 3.5rem 0; font-family: 'NanumSquare_ac', sans-serif;}
.main_sec_blog li:nth-child(3n+1) {clear: both;}
.main_sec_blog .thumb {margin-bottom: 2rem; padding-bottom: 62.1%;}
.main_sec_blog .cont strong {max-height: 6rem; margin-bottom: 1rem; font-size: 2rem; line-height: 3rem; display: -webkit-box; overflow: hidden; text-overflow: ellipsis; word-wrap: break-word; -webkit-line-clamp: 2; -webkit-box-orient: vertical;}
.main_sec_blog .cont p {display: block; max-height: 4.8rem; margin-bottom: 1.6rem; font-size: 1.6rem; color: #999; line-height: 2.4rem; display: -webkit-box; overflow: hidden; text-overflow: ellipsis; word-wrap: break-word; -webkit-line-clamp: 2; -webkit-box-orient: vertical;}
.main_sec_blog li .date {display: block; font-size: 1.3rem; color: #999;}
.main_sec_blog .btn_area {margin-top: 10rem; text-align: center;}
.main_sec_blog .btn_area .btn_more_blog {display: inline-block; position: relative; padding: 1.8rem 6rem 1.9rem; font-size: 2rem; font-weight: 600; border-top: .4rem solid #000; border-bottom: .2rem solid #000;}

@media screen and (max-width:1299px) {
	.inner {padding: 0 2rem;}

	#header_wrap .hlogo {left: 2rem;}
	#header_wrap .select_lang {right: 2rem;}

	#footer_wrap .f_cont {padding-left: 42%;}
	#footer_wrap .f_logo {left: 2rem;}

	/* contents */
	[class*=section_] {padding-left: 2rem; padding-right: 2rem;}
	.section_company .cont_box.ci .img_box {width: calc(100% + 4rem); margin: 0 -2rem;}
	.section_company .cont_box.crew .crew_list li {width: calc(33.3% - (4rem / 3)); padding: 0 1.5rem;}
	.section_company .cont_box.crew .crew_list li + li {margin-left: 2rem;}
	.section_company .cont_box.crew .crew_list .info_box {margin: 0 -1.5rem;}

	/* main */
	.main_sec_prods .inner {padding: 10rem 2rem 0;}
	.main_sec_intro ul {margin: 0 -1.5rem;}
	.main_sec_intro li {padding: 0 1.5rem;}
	.main_sec_blog ul {margin: -4rem -1.5rem 0;}
	.main_sec_blog li {padding: 4rem 1.5rem 0;}
	
	.main_sec_prods .main_tit {left: 2rem;}
	.main_sec_prods .img {left: 15%;}
	.main_sec_blog .sort {right: 2rem;}
}

@media screen and (max-width:991px) {
	#header_wrap {height: 12.5rem;}
	#header_wrap .hlogo {left: 2.75rem; top: 3.7rem; width: 12.9rem;}
	#header_wrap .hlogo a {background-image: url(../images/h_logo_m.png); transition: background-image .1s ease-in;}
	#header_wrap .hlogo.on a {background-image: url(../images/h_logo_blk_m.png);}
	.main #header_wrap .hlogo.on a {background-image: url(../images/h_logo_wht_m.png);}

	.gnb_wrap {padding: 0;}
	.gnb_wrap .btn_open_menu {display: block; position: absolute; right: 1.75rem; top: 5rem; width: 5rem; height: 5rem; z-index: 2;}
	.gnb_wrap .btn_open_menu:before,
	.gnb_wrap .btn_open_menu:after {content: ""; display: block; position: absolute; right: 1rem; width: 3rem; height: .3rem; background: #060606; transition: transform .3s cubic-bezier(0.165, 0.84, 0.44, 1);}
	.gnb_wrap .btn_open_menu:before {top: 1.5rem;}
	.gnb_wrap .btn_open_menu:after {bottom: 1.5rem;}
	.gnb_wrap .btn_open_menu span {display: block; position: absolute; left: 1rem; top: 50%; width: 3rem; height: .3rem; margin-top: -.15rem; background: #060606; font-size: 0; text-indent: -9999px; opacity: 1; transition: opacity .3s cubic-bezier(0.165, 0.84, 0.44, 1);}
	.gnb_wrap .btn_open_menu.open:before {top: 1rem; width: 4rem; transform: rotate(-45deg); transform-origin: right top;}
	.gnb_wrap .btn_open_menu.open:after {bottom: 1rem; width: 4rem; transform: rotate(45deg); transform-origin: right bottom;}
	.gnb_wrap .btn_open_menu.open span {opacity: 0;}
	.gnb_wrap .gnb {position: absolute; left: 0; top: 0; right: 0; padding: 15rem 0 12rem; background: #f1f1f1; opacity: 0; visibility: hidden; z-index: 1;}
	.gnb_wrap .gnb.show {opacity: 1; visibility: visible; transition: opacity .2s ease-in-out, visibility .2s ease-in-out;}
	.gnb_wrap .gnb li {float: none; margin: 0; text-align: center;}
	.gnb_wrap .gnb a {padding: 1rem 0; font-size: 2.4rem;}
	.main .gnb_wrap .btn_open_menu:before,
	.main .gnb_wrap .btn_open_menu:after,
	.main .gnb_wrap .btn_open_menu span {background: #fff;}
	.main .gnb_wrap .gnb {background: #000;}
	.main .gnb_wrap .gnb a {color: #fff; opacity: .5;}
	.main .gnb_wrap .gnb a:hover, 
	.main .gnb_wrap .gnb li.on a {opacity: 1;}

	.select_lang {display: none;}

	#footer_wrap {padding: 7.75rem 0; text-align: center;}
	#footer_wrap .f_cont {padding-left: 0;}
	#footer_wrap .menu {padding-top: 0; margin-bottom: 9.5rem;}
	#footer_wrap .menu li {display: block;}
	#footer_wrap .menu li + li {margin-left: 0; margin-top: 4.5rem;}
	#footer_wrap .menu strong {margin-bottom: 1.8rem; font-size: 2.6rem;}
	#footer_wrap .menu strong small {margin-bottom: 1rem; font-size: 1.2rem;}
	#footer_wrap .menu p, #footer_wrap .menu a {font-size: 1.2rem; font-weight: 600;}
	#footer_wrap .menu p, #footer_wrap .menu a.email { font-weight: 600; color: #999;}
	#footer_wrap .corp_info {font-size: 1.2rem; line-height: 2.2rem; font-weight: 600;}
	#footer_wrap .corp_info .copyright {margin-top: 1.6rem; font-size: 1.1rem; font-weight: 400;}
	.main #footer_wrap {background: #000;}
	.main #footer_wrap .f_cont {color: #fff;}
	.main #footer_wrap .menu p, .main #footer_wrap .menu a {color: #f6f6f4; opacity: .63;}
	.main #footer_wrap .corp_info {color: #fff; opacity: .63;}

	#footer_wrap .f_logo {position: static; width: 11.9rem; margin:0 auto 4.2rem;}

	#content_wrap {padding: 12.5rem 0 9.8rem;}

	.kv_wrap .kv_text {padding: 0 3.8rem;}
	.section_prod_intro .cont_box:first-child .img_box {width: 35.1rem;}
	.section_prod_intro .cont_box:nth-child(2) .img_box {width: 35rem;}
	.section_prod_intro .cont_box:nth-child(3) .img_box {width: 36.4rem;}
	.section_prod_intro .cont_box:first-child .cont {width: calc(100% - 35.1rem);}
	.section_prod_intro .cont_box:nth-child(2) .cont {width: calc(100% - 35rem);}
	.section_prod_intro .cont_box:nth-child(3) .cont {width: calc(100% - 36.4rem);}
	.section_company .cont_box.right .img_box {width: 35.6rem;}
	.section_company .cont_box.left .img_box {width: 40rem;}
	.section_company .cont_box.right .cont {width: calc(100% - 35.6rem); padding-right: 0;}
	.section_company .cont_box.left .cont {width: calc(100% - 40rem);}
	.section_company .cont_box.crew .crew_list li {width: calc(33.3% - (2rem / 3));}
	.section_company .cont_box.crew .crew_list li + li {margin-left: 1rem;}
	.section_company .cont_box.crew .crew_list .thumb {width: 22.1rem; height: 22.1rem;}
	.section_company .cont_box.crew .crew_list .name {font-size: 2.6rem;}
	.section_company .cont_box.crew .crew_list .info {font-size: 1.5rem;}

	/* main */
	.main_sec_prods .img {left: 8%;}

}

@media screen and (max-width:787px) {
	.sm_hidden {display: none !important;}

	.lg_visible {display: none !important;}
	.sm_visible {display: block !important;}

	.thumb_pc {display: none !important;}
	.thumb_mo {display: block !important;}

	/* contents */
	[class*=section_] {width: 100%; margin: 0 auto; padding-top: 7.5rem; padding-left: 3.8rem; padding-right: 3.8rem;}
	[class*=section_] img {width: 100%;}
	[class*=section_] .cont_box .title {font-size: 2.7rem;}
	[class*=section_] .cont_box .txt_box {font-size: 1.4rem; line-height: 2.2rem; font-weight: 400;}
	[class*=section_] .cont_box .txt_box p + p {margin-top: 2.2rem;}
	[class*=section_] .cont_box .noti_box {margin-top: 2.6rem; padding-top: 2.5rem;}
	[class*=section_] .cont_box .noti_box:before {width: 2.9rem; height: .2rem;}
	[class*=section_] .cont_box .img_box,
	[class*=section_] .cont_box.left .img_box,
	[class*=section_] .cont_box.left .cont,
	[class*=section_] .cont_box.right .img_box,
	[class*=section_] .cont_box.right .cont {float: none;}

	/* key visual */
	.kv_wrap {height: 50.7rem; /* padding-bottom: 135.2%; */}
	.kv_wrap .kv_text {bottom: 6rem; font-size: 2.1rem; line-height: 3.2rem;}
	.kv_wrap .kv_products .kv_bg {background-image: url(../images/kv_prod_intro_m.jpg);}
	.kv_wrap .kv_company .kv_bg {background-image: url(../images/kv_company_m.jpg);}
	.kv_products .kv_text .txt {max-width: 40rem;}
	.kv_company .kv_text .txt {max-width: 40rem;}

	/* 제품소개 */
	.section_prod_intro .cont_box {max-width: 100%;}
	.section_prod_intro .cont_box + .cont_box {margin-top:7.5rem;}
	.section_prod_intro .cont_box .cont {width: 100%;}
	.section_prod_intro .cont_box .title {margin-bottom:3.5rem; font-size: 2.7rem;}
	.section_prod_intro .cont_box .title .lg {font-size: 2.8rem; vertical-align: middle;}
	.section_prod_intro .cont_box .noti_box strong {font-size: 1.5rem; line-height: 2.5rem;}
	.section_prod_intro .cont_box .noti_box span {font-size: 1.4rem; line-height: 2.4rem;}
	.section_prod_intro .cont_box .img_box {padding-top: 3.5rem;}
	/* .section_prod_intro .cont_box.right .img_box {padding-left: 6rem;} */
	
	.section_prod_intro .cont_box:first-child .img_box,
	.section_prod_intro .cont_box:nth-child(2) .img_box,
	.section_prod_intro .cont_box:nth-child(3) .img_box,
	.section_prod_intro .cont_box .img_box img {width: 100%;}
	.section_prod_intro .cont_box:first-child .cont,
	.section_prod_intro .cont_box:nth-child(2) .cont,
	.section_prod_intro .cont_box:nth-child(3) .cont {max-width: 100%; width: 100%;}
	.section_prod_intro .cont_box.left .cont {padding-right: 0;}
	.section_prod_intro .cont_box.right .cont {padding-left: 0;}

	/* 회사소개 */
	.section_company .cont_box {max-width: 100%;}
	.section_company .cont_box + .cont_box {margin-top: 7.5rem;}
	.section_company .cont_box.right .title {margin-bottom: 3.5rem;}
	.section_company .cont_box.right .txt_box {width: 100%; padding-right: 0;}
	.section_company .cont_box .img_box {padding-top: 3.5rem;}
	.section_company .cont_box.ci {max-width: 100%;}
	.section_company .cont_box.ci .cont {max-width: 106.8rem; margin: 0 auto;}
	.section_company .cont_box.ci .title {margin-bottom: 3.5rem;}
	.section_company .cont_box.ci .txt_box {margin-bottom: 3.5rem;}
	.section_company .cont_box.ci .img_box {width: 100%; margin: 0;}
	.section_company .cont_box.left .title {margin-bottom: 3.5rem;}
	.section_company .cont_box.left .txt_box {width: 100%;}
	.section_company .cont_box .noti_box {padding-bottom: 1rem;}
	.section_company .cont_box .noti_box:before {top: auto; bottom: 0;}
	.section_company .cont_box .noti_box p {font-size: 1.3rem; line-height: 2.2rem; font-weight: 400;}
	.section_company .cont_box .noti_box strong {font-weight: 800;}
	.section_company .cont_box .btn_more {margin-top: 1.5rem; font-size: 1.4rem; line-height: 2.6rem;}

	.section_company .cont_box.right .img_box,
	.section_company .cont_box.left .img_box {width: 100%;}
	.section_company .cont_box.right .cont,
	.section_company .cont_box.left .cont {max-width: 100%; width: 100%; padding-right: 0; padding-left: 0;}

	.section_company .cont_box.crew {margin-top: 10rem;}
	.section_company .cont_box.crew .title {margin-bottom: 2.7rem;}
	.section_company .cont_box.crew .txt_box {margin-bottom: 4.5rem; font-size: 2.1rem; line-height: 3rem; font-weight: 400;}
	.section_company .cont_box.crew .txt_box strong {font-weight: 400;}
	.section_company .cont_box.crew .crew_list li {display: block; width: 100%; padding: 0 4.2rem; text-align: center;}
	.section_company .cont_box.crew .crew_list li + li {margin-left: 0; margin-top: 7rem;}
	.section_company .cont_box.crew .crew_list .thumb {width: 100%; height: 100%; max-width: 36rem; max-height: 36rem; margin: 0 auto 2.2rem;}
	.section_company .cont_box.crew .crew_list .info_box {max-width: 36rem; margin: 0 auto;}
	.section_company .cont_box.crew .crew_list .name {margin-bottom: 1.5rem; font-size: 2rem;}
	.section_company .cont_box.crew .crew_list .name span {margin-left: 1.2rem;}
	.section_company .cont_box.crew .crew_list .duty {margin-bottom: 2.2rem; font-size: 1.8rem;}
	.section_company .cont_box.crew .crew_list .info {font-size: 1.4rem;line-height: 2.6rem;}

	/* main */
	.main_kv_wrap .kv_items .item {height: 63.2rem; /* padding-bottom: 168.5%; */}
	.main_kv_wrap .kv_text {bottom: 16.5rem; transform: translateY(3rem); padding: 0 4.5rem; font-size: 2.1rem; line-height: 3.2rem;}
	.main_kv_wrap .kv_text .txt {max-width: 40rem;}
	.main_kv_wrap .kv_items .slick-slide .kv_bg {background-position: center center;}
	.main_kv_wrap .kv_items .slick-slide:first-child .kv_bg {background-image: url(../images/main_kv_01_m.jpg);}
	.main_kv_wrap .kv_items .slick-slide:nth-child(2) .kv_bg {background-image: url(../images/main_kv_02_m.jpg);}
	.main_kv_wrap .kv_items .slick-slide:nth-child(3) .kv_bg {background-image: url(../images/main_kv_03_m.jpg);}
	.main_kv_wrap .slick-dots {bottom: 3.75rem;}
	.main_kv_wrap .slick-dots li + li {margin-left: .7rem;}
	.main_kv_wrap .slick-dots li button {width: .7rem; height: .7rem; background: rgba(255,255,255,.36);}
	.main_kv_wrap .slick-dots li.slick-active button {background: rgba(255,255,255,1);}

	[class*=main_sec_] .main_tit {margin-bottom: 3.5rem; font-size: 3.1rem;}
	[class*=main_sec_] li {float: none; width: 100%;}
	[class*=main_sec_] .inner {padding: 0 3.8rem;}

	.main_sec_intro {padding: 6.7rem 0 9.5rem;}
	.main_sec_intro ul {margin: 0;}
	.main_sec_intro li {padding: 0;}
	.main_sec_intro li + li {margin-top: 5rem;}
	.main_sec_intro .thumb {margin-bottom: 2rem; padding-bottom: 68.66%;}
	.main_sec_intro .cont strong {margin-bottom: 1rem; font-size: 2rem;}
	.main_sec_intro .cont p {font-size: 1.4rem; line-height: 2.2rem;}

	.main_sec_prods .inner {height: auto; padding: 4.2rem 3.8rem 24rem;}
	.main_sec_prods .main_tit {position: static;}
	.main_sec_prods .img {position: absolute; width: 20.4rem; left: 17.5rem; bottom: -9.5rem;}
	.main_sec_prods .cont_txt {padding-left: 0;}
	.main_sec_prods .cont_txt .txt {max-width: 100%; font-size: 1.5rem; line-height: 2.35rem;}
	.main_sec_prods .cont_txt .btn_red {margin-top: 2.5rem; padding: 1.6rem 3rem; font-size: 1.1rem;border-radius: .4rem;}

	.main_sec_blog {padding: 5rem 0 10rem;}
	.main_sec_blog .sort {display: none;}
	.main_sec_blog ul {margin: 0;}
	.main_sec_blog li {padding: 0; font-family: 'NanumSquare_ac', sans-serif;}
	.main_sec_blog li + li {margin-top: 5rem;}
	.main_sec_blog li:nth-child(3n+1) {clear: none;}
	.main_sec_blog li:nth-child(3) ~ li {display: none;}
	.main_sec_blog .thumb {margin-bottom: 1.6rem;}
	.main_sec_blog .cont strong {max-height: 5rem; margin-bottom: .7rem; font-size: 1.8rem; line-height: 2.5rem;}
	.main_sec_blog .cont p {max-height: 4.4rem; margin-bottom: 1.1rem; font-size: 1.4rem; line-height: 2.2rem;}
	.main_sec_blog li .date {font-size: 1.2rem;}
	.main_sec_blog .btn_area {margin-top: 6rem;}
	.main_sec_blog .btn_area .btn_more_blog {padding: 1.5rem 5.3rem 1.4rem; font-size: 1.4rem;}

}
